.full-width{
    width: 100%;
}
.imageRR{
    height: 100px;
    width: 100px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
  }
.control{
   height: 650px;
    width: 1495px;
}