
    <div class="container">
        <img src="../../../assets/Welcome.jpg" class="control">
                <mat-card class="centered">
                    <div class="container text-center">
                        <img src="../../../assets/logo.png" alt="" class="imageRR">
                    </div>
                     <h1 class="text-center">SignUp Here!</h1>
    
                    <!--{{user | json}}-->
    
                     <form (ngSubmit)="formSubmit()">
                        <!--Username Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enrollment Number</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.username"
                            name="username" 
                            matInput 
                            placeholder="Enter here"
                            ngModel minlength="11"
                            ngModel maxlength="11"
                            onlyNumbers/>
                            <mat-hint> Enter your University rollment number.</mat-hint>
                        </mat-form-field>
                        <!--Password Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input
                            required
                            [(ngModel)]="user.password"
                            name="password"
                            type="password" matInput placeholder="Enter here">
                        </mat-form-field>
                        <!--FirstName Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.firstname"
                            name="firstname"
                            matInput placeholder="Enter here">
                        </mat-form-field>
                        <!--LastName Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.lastname"
                            name="lastname"
                            matInput placeholder="Enter here">
                        </mat-form-field>
                        <!--Email Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput #email="ngModel" type="email" [(ngModel)]="user.email" name="data_email" placeholder="Email" [class.is-invalid]="email.invalid && email.touched" required
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
         <mat-error *ngIf="email.errors && (email.invalid || email.touched) && email.errors['pattern']">Please enter a valid email address.</mat-error>
         <mat-error *ngIf="email.errors && (email.invalid || email.touched) && email.errors['required']">Email is required.</mat-error>
                        </mat-form-field>
                        <!--PhoneNumber Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input 
                            required
                            [(ngModel)]="user.phone"
                            name="phone"
                            type="number" matInput 
                            placeholder="Enter here"
                            ngModel minlength="10"
                            ngModel maxlength="10"
                            onlyNumbers>
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Signup</button>
                            <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>
                     </form>
                </mat-card>
            </div>
        
