<mat-card >
    <h1 class="text-center">Welcome to Admin Dashboard</h1>
    <h3 class="text-center">Following are the set of instructions you can perform as an admin : </h3>
    <div class="container ml20">
        <p><b>1)</b>  You can add categories here</p>
        <p><b>2)</b>  You can add quiz of particular category</p>
        <p><b>3)</b>  You can customize quiz on the basis of : No. of questions, max marks and which category it belongs to</p>
        <p><b>4)</b>  You can add question bank in a quiz and questions will appear randomly for each user</p>
        <p><b>5)</b>  You can update and delete a quiz</p>
        <p><b>6)</b>  You can add update and delete questions in any quiz</p>
        <p><b>7)</b>  You can set availability of quiz as : Active / Not Active</p>
        <p><b>8)</b>  You can add quiz of particular category</p>
    </div>
</mat-card>