<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="mt20">
                    <mat-card-header>
                        <mat-card-title>Read all the instructions carefully</mat-card-title>
                        <mat-card-subtitle>One more step to go....</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="ml20">
                        <h3>{{quiz.title}}</h3>
                        <p>{{quiz.description}}</p>
                        <mat-divider></mat-divider>
                        <br>
                        <h1>
                            Important Instructions
                        </h1>
                        <ul>
                            <li>This quiz is only for practice purpose.</li>
                            <li>You have to submit quiz within {{quiz.numberOfQuestions*1}} minutes.</li>

                        </ul>
                    </mat-card-content>
                    <mat-card-actions>

                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
