<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            <!-- instructions -->
            Instructions
        </div>
        <div class="col-md-8">
            <!-- questions -->
            <ng-container *ngIf="questions">
                <h1 class="mt20"><b>{{questions[0].quiz.title}}</b></h1>
            </ng-container>
            <mat-card *ngFor="let q of questions; let i = index" class="mt20">
                <mat-card-content>
                    <p><b>Ques.{{i+1}}) </b><span [innerHTML]="q.content"></span></p>
                    <mat-divider></mat-divider>

                    <div class="row mt20">
                        <div class="col-md-6">
                            <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option1" name={{i}} />{{q.option1}}
                           
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option2" name={{i}} />{{q.option2}}
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-md-6">
                            <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option3" name={{i}} />{{q.option3}}
                        </div>
                        <div class="col-md-6">
                            <input [(ngModel)]="q.givenAnswer" type="radio" [value]="q.option4" name={{i}} />{{q.option4}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="container text-center mt20 mb20">
                <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>
            </div>
        </div>
        <div class="col-md-2">
            <!-- progress -->
        </div>
        </div>
    </div>
</div>
<!-- show the result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt20">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Marks Got : {{marksGot}}</h1>
                    <h1>Correct Answer : {{correctAnswers}}</h1>
                    <h1>Questions Attempted : {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions class="text-center mb20">
                    <button mat-raised-button color="accent">Print</button>
                    <button mat-raised-button color="primary" [routerLink]="'/user-dashboard/0'">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>  
    </div>
</div>